.note {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px #ccc;
    border-bottom-right-radius:  15px;
    padding: 10px;
    background-color: #f7eab4;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input {
    width: 95%;
    padding: 5px;
    border-radius: 3px;
    border: 1px #ccc;
  }
  
  .description {
    height: 100px;
  }
  
  .submit {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
  }
  
  .submit:hover {
    background-color: #2e955b;
  }
  